<%= link_to 'New Task', new_task_path %>
<div class="row">
  <div class="col-md-4">
    <div class="bg-secondary bg-opacity-10 p-3 rounded">
      <h2 class='text-center'>TO DO</h2>
      <%= render @to_do %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg-secondary bg-opacity-10 p-3 rounded">
      <h2 class='text-center'>DOING</h2>
      <%= render @doing %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg-secondary bg-opacity-10 p-3 rounded">
      <h2 class='text-center'>DONE</h2>
      <%= render @done %>
    </div>
  </div>
</div>